@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Cabinet Grotesk', sans-serif;
    }
    h1 {
        @apply text-3xl;
    }
}

@font-face {
    font-family: 'Cabinet Grotesk', sans-serif;
    src: local('Cabinet Grotesk'), url(./fonts/CabinetGrotesk-Regular.ttf) format('ttf');
  }

.title-heading {
    font-size: 1.25rem;
    line-height: 2rem;
}

.default-spacing {
    padding-top: 2.5rem;
    padding-left: 10rem;
    padding-right: 10rem;
}